@import "tailwindcss";

@theme {
  --color-dark-black: #0E0E0E;
  --color-beige-agave: #E5C79A;
  --color-cinnamon: #B87333;
  --color-dark-cinnamon: #7C3A1E;

  --font-family-headline: var(--font-bebas);
  --font-family-body: var(--font-urbanist);
}

:root {
  --background: var(--color-dark-black);
  --foreground: var(--color-beige-agave);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas), sans-serif;
  font-weight: 400;
}